<plugin
		id="br.ufes.inf.nemo.vp_ontouml_plugin"
		name="OntoUML Plugin"
		description="OntoUML deployment and validation"
		provider="Claudenir Morais Fonseca"
		class="br.ufes.inf.nemo.vp_ontouml_plugin.OntoUMLPlugin">
	
	<actionSets>
		<actionSet id="br.ufes.inf.nemo.vp_ontouml_plugin.actionset">
			<toolbar
					id="br.ufes.inf.nemo.vp_ontouml_plugin.actions.toolbar1"
					orientation="north"
					index="last"/>
			<action
					id="br.ufes.inf.nemo.vp_ontouml_plugin.actionset.ValidateOntoUMLModel"
					actionType="generalAction"
					label="Validate OntoUML Elements"
					tooltip="Validate OntoUML Elements"
					style="normal"
					toolbarPath="br.ufes.inf.nemo.vp_ontouml_plugin.actions.toolbar1/#">
				<actionController class="br.ufes.inf.nemo.vp_ontouml_plugin.actions.ValidateOntoUMLModel"/>
			</action>
			<action
					id="br.ufes.inf.nemo.vp_ontouml_plugin.actionset.DeployOntoUMLStereotypes"
					actionType="generalAction"
					label="Deploy OntoUML Stereotypes"
					tooltip="Deploy OntoUML Stereotypes"
					style="normal"
					toolbarPath="br.ufes.inf.nemo.vp_ontouml_plugin.actions.toolbar1/#">
				<actionController class="br.ufes.inf.nemo.vp_ontouml_plugin.actions.DeployOntoUMLStereotypes"/>
			</action>
		</actionSet>
	</actionSets>	
</plugin>