<plugin
		id="com.vp.plugin.sample.reloadclasses"
		name="Reload Classes"
		description="Reload Plugin Classes"
		provider="Visual Paradigm"
		class="com.vp.plugin.sample.reloadclasses.ReloadClassesPlugin">
	
	<actionSets>
		<actionSet id="com.vp.plugin.sample.reloadclasses.actionset1">
			
			<action 
					id="com.vp.plugin.sample.reloadclasses.actions.ReloadClassesAction"
					actionType="generalAction" 
					label="Reload Plugin Classes" 
					tooltip="Reload Plugin Classes" 
					style="normal"
					menuPath="View/#">
				<actionController class="com.vp.plugin.sample.reloadclasses.actions.ReloadClassesActionController" />
			</action>
		</actionSet>
		
		<actionSet id="com.vp.plugin.sample.reloadclasses.shapeactionset">

			<action
					id="com.vp.plugin.sample.reloadclasses.actions.ReloadClassesShapeControllerAction"
					actionType="shapeAction"
					label="Reload Classes - Shape"
					tooltip="Reload Classes - Shape"
					icon="icons/shape.png"
					editorToolbarPath="com.vp.diagram.ClassDiagram/Class">
					
					<shapeCreatorInfo
	
							shapeType="com.vp.plugin.sample.reloadclasses.actions.ReloadClassesShape"
							defaultWidth="30"
							defaultHeight="30"
							controllerClass="com.vp.plugin.sample.reloadclasses.actions.ReloadClassesShapeController"
							multilineCaption="false"
							captionStyle="north"
							resizable="true"/>
	
			</action>
		</actionSet>
		
	</actionSets>
		
</plugin>