<plugin
		id="br.ufes.inf.nemo.mltplugin"
		name="MLT Plugin"
		description="MLT Plugin for VP 12.0"
		provider="Claudenir Fonseca"
		class="br.ufes.inf.nemo.mltplugin.MLTPlugin">
	
	<actionSets>
		<actionSet id="br.ufes.inf.nemo.mltplugin.actionset1">
			<separator menuPath="Tools/#" />
			<action 
					id="br.ufes.inf.nemo.mltplugin.actions.ReloadPluginAction"
					actionType="generalAction" 
					label="Reload MLT Plugin" 
					tooltip="Reload MLT Plugin" 
					style="normal"
					menuPath="Tools/#">
				<actionController class="br.ufes.inf.nemo.mltplugin.actions.ReloadMLTPluginActionController" />
			</action>
			<action 
					id="br.ufes.inf.nemo.mltplugin.actions.AddMLTStereotypesAction"
					actionType="generalAction" 
					label="Add MLT Stereotypes" 
					tooltip="Add MLT stereotyypes into the project" 
					style="normal"
					menuPath="Tools/#">
				<actionController class="br.ufes.inf.nemo.mltplugin.actions.AddMLTStereotypesActionController" />
			</action>
			<action 
					id="br.ufes.inf.nemo.mltplugin.actions.RunValidationAction"
					actionType="generalAction"
					label="Run MLT Plugin"
					tooltip="Run MLT Plugin" 
					style="normal"
					menuPath="Tools/#">
				<actionController class="br.ufes.inf.nemo.mltplugin.actions.RunMLTPluginActionController" />
			</action>
		</actionSet>
	</actionSets>
</plugin>